AIRFLOW_UID={by_default_50000}

AIRFLOW__WEBSERVER__SECRET_KEY={your_super_secret_key_retail_vault}

AIRFLOW_CONN_SNOWFLAKE_DEFAULT={snowflake://<USER>:<PASSWORD>@<ACCOUNT_ID>/<DATABASE>/<SCHEMA>?warehouse=<WAREHOUSE>&role=<ROLE>}

AIRFLOW_VAR_TELEGRAM_TOKEN={your_telegram_token}

AIRFLOW_VAR_TELEGRAM_CHAT_ID={your_telegram_chat_id}